<!-- <ion-view view-title="Admin" name="dashboard-view">
  <ion-content class="padding">
      Strictly for Admin Users.
  </ion-content>
</ion-view>  -->
 <ion-view view-title="Admin" name="dashboard-view">
 
  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title">Welcome HR</h3>
      <br><br><br>
      <button class="button button-full button-positive" ng-click="">
       Create User
      </button>
      <button class="button button-full button-energized" ng-click="">
       Pending Approvals
      </button>
      <button class="button button-full button-balanced" ng-click="">
       View Staff on Leave
      </button>
       <button class="button button-full button-royal" ng-click="">
      Generate Reports
      </button>
       <button class="button button-full button-assertive" ng-click="">
        Remove User
      </button>
      <br><br>
      {{response}}
    </div></div>
  </ion-content>
</ion-view>