<ion-view view-title="Dashboard" name="dashboard-view">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>
 
  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title">Welcome {{username}}!</h3>
      <h4>Your Leave Balance is: {{leavebalance}} days</h4>
      <br><br><br>
      <button class="button button-full button-positive" ng-click="">
       Apply For Leave
      </button>
      <button class="button button-full button-energized" ng-click="">
       View Staff On Leave
      </button>
      <button class="button button-full button-assertive" ng-click="">
       Return from Leave
      </button>
      <br><br>
      {{response}}
    </div></div>
  </ion-content>
</ion-view>