 <ion-view view-title="superuser" name="dashboard-view">
 
  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title">Welcome</h3>
      <br><br><br>
  
      <button class="button button-full button-energized" ng-click="">
       Pending Approvals
      </button>
      <button class="button button-full button-balanced" ng-click="">
       View Staff on Leave
      </button>
       <button class="button button-full button-royal" ng-click="">
      Reports
      </button>
   
      <br><br>
      {{response}}
    </div></div>
  </ion-content>
</ion-view>